.env
.venv

__pycache__/

*.pyc
.ipynb_checkpoints
data/
outputs/
logs/
.vscode/
*.csv
*.pkl
.venv
.png

backend/service_account_key.json

# MLflow tracking
mlruns/
backend/mlruns/
backend/data/mlflow.db
backend/data/mlflow.db-shm
backend/data/mlflow.db-wal
site/
backend/mlflow.db
