garminconnect>=0.3.1
garth>=0.8.0
python-dotenv
pandas
xgboost
psycopg2-binary
requests
matplotlib
ipykernel
google-generativeai



shap
seaborn
duckdb
streamlit
plotly
streamlit-calendar
mkdocs
mkdocs-material

